*
{
  margin: 0;
  padding: 0;
}
.active
{
  color:red;
}
ul
{
  display: flex;
  list-style: none;
}
li
{
  margin: 2px;
}
.menu
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.menu_logo
{
  text-transform: uppercase;
}
.menu
{
  text-transform: uppercase;
}